# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# PyInstaller
build/
dist/
*.spec

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Signing / certificates
*.p12
*.cer
*.cert
*.key
*.pem

# Temporary files
*.tmp
*.part